pit.engineer {
  encode gzip zstd

  handle_path /downloads/* {
    root * /srv/downloads
    file_server
  }

  @api path /api /api/*
  handle @api {
    uri strip_prefix /api
    reverse_proxy api:3000
  }

  handle {
    reverse_proxy web:80
  }

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "strict-origin-when-cross-origin"
  }
}

www.pit.engineer {
  redir https://pit.engineer{uri} permanent
}
